/* globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media print {
  /* Ya ocultás botones y .no-print */
  button, .no-print {
    display: none !important;
  
  }
   .no-print {
    display: none !important;
  }

  html, body {
    background: white !important;
    color: black !important;
  }

  #pdf-content {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    box-shadow: none !important;
    background: white !important;
  }

  @page {
    size: A4;
    margin: 20mm;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 👉 ESTA ES LA CLAVE */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* 🚫 Oculta el toast de error de Next.js en desarrollo */
nextjs-portal > div[data-nextjs-toast="true"] {
  display: none !important;
}

.mover-bloque-superior {
  position: relative !important;
  top: -20mm !important; /* 2 cm hacia arriba */
}


